td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-left: 5px;
  padding-right: 5px;
}

table {
  width: 100%;
}

mat-radio-button {
  margin-left: 5px;
  margin-right: 5px;
}

.actions {
  width: 150px;
}

.margin-l-25 {
  margin-left: 25px;
}

.margin-t-35 {
  margin-top: 35px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-5 {
  margin: 5px;
}

table ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  width: 100%;
}

mat-form-field {
  width: 100%;
}


.mat-mdc-paginator {
  display: inline;
}

.filter {
  width: 100%;
}

.mat-column-firstName {
  word-wrap: break-word;
  flex: 0 0 27%;
  width: 27%;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-lastName {
  word-wrap: break-word;
  flex: 0 0 27%;
  width: 27%;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-birthday {
  word-wrap: break-word;
  flex: 0 0 15%;
  width: 15%;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-gender {
  word-wrap: break-word;
  flex: 0 0 15%;
  width: 15%;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  word-wrap: break-word;
  flex: 0 0 16%;
  width: 16%;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
